.ingHeader{
  text-align: center;
}

.details_container {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 15px;
}

.details_container h2 {
  color: black;
  text-align: center;
}

.image {
  height: 50vh;
  width: 100%;
}

.instruction_container {
  max-width: 550px;
  flex: 1;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.6);
  box-sizing: border-box;
  padding: 12px;
  border-radius: 3px;
  margin-bottom: 10%;
  margin-top: 2%;
}

.ingredients_container {
  width: 300px;
  flex: 1;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.6);
  box-sizing: border-box;
  padding: 12px;
  border-radius: 3px;
  margin-bottom: 10%;
  margin-top: 2%;
}

.recipe_title {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    font-size: 60px;
    color: #DB7533;
    font-weight: bold;
}

.recipeBox {
  background-color: black;
  position: absolute;
  height: 50vh;
  width: 100%;
  opacity: .5;
  z-index: 2;
}
