footer {
    margin-top: auto;
    display: flex;
    height: 24vh;
    background-color: #3f3f3f;
    justify-content: space-between;
    padding: 0 60px;
    align-items: center;
    color: white;
}

.footer_left_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_left_container p {
    font-size: large;
    margin-bottom: 10px;
    text-align: center;
    height: 50%;
    justify-content: space-evenly;
    align-items: center;
    font-size: large;
}

.icons_container {
    display: flex;
    gap: 9px;
}

.icons {
    display: flex;
    align-items: center;
    background-color: #578A8B;
    padding: 10px;
    height: 20px;
    width: 20px;
    border-radius: 30px;
}
