header {
    --color: hsl(var(--primary-color), var(--l));
    background-color: var(--color);
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    box-sizing: border-box;
  }

  h2 {
    font-size: 24px;
    color: white;
  }
  
  h5 {
    font-size: 20px;
    color: white;
  }
 
  
  

  
  .circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: hsl(var(--secondary-color));
    display: flex;
    justify-content: center;
    align-items: center;
  } 
  
  header {
    width:100vw;
    height:60px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:#DB7533;  
    color:white;
    }
    
  header button {
  background-color:#DB7533;
  border:none;  
  color:white;
  transition: background-color 0.4s, box-shadow 0.4s ;
    }
  
   header button:hover{
      background-color: #578A8B; 
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  